@{
    ViewData["Title"] = "Home Page";
}

<link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">

<div class="text-center">
    <h1 class="display-4" id="mainPageHeading">BlueGeeks Basketball League</h1>
</div>
