@model BlueGeeks.Models.Matches

@{
    ViewData["Title"] = "Edit";
}
<div class="bg">
    <h1>Edit</h1>

    <h4>Matches</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Matche_Id" />
                <div class="form-group">
                    <label asp-for="HomeTeam_Id" class="control-label"></label>
                    <select asp-for="HomeTeam_Id" class="form-control" asp-items="ViewBag.HomeTeam_Id"></select>
                </div>
                <div class="form-group">
                    <label asp-for="AwayTeam_Id" class="control-label"></label>
                    <select asp-for="AwayTeam_Id" class="form-control" asp-items="ViewBag.AwayTeam_Id"></select>
                </div>
                <div class="form-group">
                    <label asp-for="MatchDate" class="control-label"></label>
                    <input asp-for="MatchDate" class="form-control" />
                    <span asp-validation-for="MatchDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Stadium_Id" class="control-label"></label>
                    <select asp-for="Stadium_Id" class="form-control" asp-items="ViewBag.Stadium_Id"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
